
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Josefin Sans;
}

body{
    background-color: #48124A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.calculadora{
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}

.button{
    width: 75px;
    height: 70px;
    cursor: pointer;
    background-color: #48124A;
    border-width: 2px;
    border-color: #7F4793;
    font-size: 25px;
    color: #fff;
    margin-right: 4px;
    margin-bottom: 4px;
}

.button:hover{
    background-color: #8a2be2;
}

.display{
    width: 318px;
    height: 50px;
    background-color: #48124A;
    color: #fff;
    margin-left: 2px;
    margin-bottom: 4px;
    font-size: 35px;
}
.display label {
    border-width: 2px;
    border-color: #7F4793;
}